:root {
  color-scheme: light dark;
  
  // - - - Base Colors in HSL color space - - -
  // Use https://hslpicker.com
  --bc-white: 0, 0%, 100%;
  --bc-light: 0, 0%, 94.1%;
  --bc-black: 0, 0%, 12.2%;
  --bc-red-w-dark: 337, 100%, 50%; // #ff0061
  --bc-red-w-light: 334, 100%, 45.1%; //#e60063
  --bc-green-w-dark: 67, 100%, 50%; // #E1FF00 yellow green
  //--bc-green-w-dark: 157, 100%, 50%; // #00FF9E
  // #1E00FF blue

  // - - - Typography - - -
  // Stacks from https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file
  //--ff-default: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  //--ff-sans: var(--ff-default);
  //--ff-serif: var(--ff-default);

  --ff-default: 'Hyperlegible', Roboto, 'Helvetica Neue', sans-serif;
  --ff-sans: var(--ff-default);
  --ff-serif: var(--ff-default);
  --ff-mono: 'Hyperlegible Mono', ui-monospace, 'Cascadia Code', Menlo, Consolas, monospace;

  --ff-body: var(--ff-serif);
  --ff-headings: var(--ff-sans);
  --ff-highlight: var(--ff-sans);

  // Set these for light mode, then reset for dark
  --fw-light: 225;
  --fw-normal: 375;
  --fw-medium: 600;
  --fw-bold: 775;

  --lh-loose: 1.875;
  --lh-base: 1.618;
  --lh-tight: 1.25;

  --ls-tight: 0.03125em;
  --ls-base: 0.0625em; 

  --brad-small: 3px;

  --transition-default: all 250ms ease;

  // - - - Fluid Type Sizes - - -
  // https://utopia.fyi/type/calculator?c=440,16,1.2,1240,20,1.25,7,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  // Step -1: 13.3333px → 16px
  --fts-small: clamp(0.8333rem, 0.7417rem + 0.3333vw, 1rem);
  // Step 0: 16px → 20px
  --fts-base: clamp(1rem, 0.8625rem + 0.5vw, 1.25rem);
  // Step 1: 19.2px → 25px
  --fts-header-6: clamp(1.2rem, 1.0006rem + 0.725vw, 1.5625rem);
  // Step 2: 23.04px → 31.25px
  --fts-header-5: clamp(1.44rem, 1.1578rem + 1.0263vw, 1.9531rem);
  // Step 3: 27.648px → 39.0625px
  --fts-header-4: clamp(1.728rem, 1.3356rem + 1.4268vw, 2.4414rem);
  // Step 4: 33.1776px → 48.8281px
  --fts-header-3: clamp(2.0736rem, 1.5356rem + 1.9563vw, 3.0518rem);
  // Step 5: 39.8131px → 61.0352px
  --fts-header-2: clamp(2.4883rem, 1.7588rem + 2.6528vw, 3.8147rem);
  // Step 6: 47.7757px → 76.2939px
  --fts-header-1: clamp(2.986rem, 2.0057rem + 3.5648vw, 4.7684rem);
  // Step 7: 57.3309px → 95.3674px
  --fts-display: clamp(3.5832rem, 2.2757rem + 4.7546vw, 5.9605rem);

  // - - - Fluid Spacing - - -
  // @link https://utopia.fyi/space/calculator?c=440,16,1.2,1240,20,1.25,7,1,&s=0.75|0.5,1.5|2|3|4|6,s-xl&g=s,l,xl,12 

  --space-2xs: clamp(0.5rem, 0.4313rem + 0.25vw, 0.625rem);   // Space 2xs: 8px → 10px
  --space-xs: clamp(0.75rem, 0.6469rem + 0.375vw, 0.9375rem); // Space xs: 12px → 15px
  --space-s: clamp(1rem, 0.8625rem + 0.5vw, 1.25rem);         // Space s: 16px → 20px
  --space-m: clamp(1.5rem, 1.2938rem + 0.75vw, 1.875rem);     // Space m: 24px → 30px
  --space-l: clamp(2rem, 1.725rem + 1vw, 2.5rem);             // Space l: 32px → 40px
  --space-xl: clamp(3rem, 2.5875rem + 1.5vw, 3.75rem);        // Space xl: 48px → 60px
  --space-2xl: clamp(4rem, 3.45rem + 2vw, 5rem);              // Space 2xl: 64px → 80px
  --space-3xl: clamp(6rem, 5.175rem + 3vw, 7.5rem);           // Space 3xl: 96px → 120px
  
  --space-2xs-xs: clamp(0.5rem, 0.2594rem + 0.875vw, 0.9375rem); // Space 2xs-xs: 8px → 15px
  --space-xs-s: clamp(0.75rem, 0.475rem + 1vw, 1.25rem);         // Space xs-s: 12px → 20px
  --space-s-m: clamp(1rem, 0.5188rem + 1.75vw, 1.875rem);        // Space s-m: 16px → 30px
  --space-m-l: clamp(1.5rem, 0.95rem + 2vw, 2.5rem);             // Space m-l: 24px → 40px
  --space-l-xl: clamp(2rem, 1.0375rem + 3.5vw, 3.75rem);         // Space l-xl: 32px → 60px
  --space-xl-2xl: clamp(3rem, 1.9rem + 4vw, 5rem);               // Space xl-2xl: 48px → 80px
  --space-2xl-3xl: clamp(4rem, 2.075rem + 7vw, 7.5rem);          // Space 2xl-3xl: 64px → 120px
  --space-s-xl: clamp(1rem, -0.5125rem + 5.5vw, 3.75rem);        // Space s-xl: 16px → 60px

  // - - - Functional Colors - - -
  --fc-body-bg: hsl(var(--bc-white));
  --fc-body-fg: hsl(var(--bc-black));
  --fc-border: hsla(var(--bc-black), 0.2);
  --fc-gradient-noise: linear-gradient(to bottom, hsla(var(--bc-black), 0.1) 5%, hsla(var(--bc-black), 0) 95%);

  --fc-accent: hsl(var(--bc-red-w-light));
  --fc-accent-trans-20: hsla(var(--bc-red-w-light), 0.25);

  --fc-link-fg: hsl(var(--bc-red-w-light));
  --fc-link-fg-hover: hsl(var(--bc-black));

  --fc-header-accent: hsla(var(--bc-black), 0.5); 

  --color-bars-1: hsla(var(--bc-black), 0.125);
  --color-bars-2: hsl(var(--bc-black));
  --color-bars-3: hsl(var(--bc-red-w-light));

  --fc-code-border: hsla(var(--bc-green-w-dark), 0.75);
  --fc-code-bg: hsla(var(--bc-green-w-dark), 0.5);

  // Default button same color as links
  --fc-button-border: hsl(var(--bc-red-w-light));
  --fc-button-fg: hsl(var(--bc-red-w-light));
}


@media (prefers-color-scheme: dark) {
  :root {
    --fw-light: 225;
    --fw-normal: 375;
    --fw-medium: 600;
    --fw-bold: 775;

    // - - - Functional Colors - - -
    --fc-body-bg: hsl(var(--bc-black));
    --fc-body-fg: hsl(var(--bc-light));
    --fc-border: hsla(var(--bc-white), 0.2);
    --fc-gradient-noise: linear-gradient(to bottom, rgba(0,0,0, 0.80) 5%, var(--fc-body-bg) 95%);

    --fc-accent: hsl(var(--bc-red-w-dark));
    --fc-accent-trans-20: hsla(var(--bc-red-w-dark), 0.18);

    --fc-link-fg: hsl(var(--bc-red-w-dark));
    --fc-link-fg-hover: hsl(var(--bc-light));

    --fc-header-accent: hsla(var(--bc-light), 0.625); 

    --color-bars-1: var(--fc-header-accent);
    --color-bars-2: hsl(var(--bc-light));
    --color-bars-3: hsl(var(--bc-red-w-dark));

    --fc-code-border: hsla(var(--bc-green-w-dark), 0.5);
    --fc-code-bg: hsla(var(--bc-green-w-dark), 0.15);

    // Default button same color as links
    --fc-button-border: hsl(var(--bc-red-w-dark));
    --fc-button-fg: hsl(var(--bc-red-w-dark));
  }
}