---
layout: post
permalink: blog/
html-title: Bloggy Blog Blog
title: Articles, Ideas, Musings, Rants
---

<section class="post__latest">
  {% assign post = site.posts.first %}
  {% if post.categories contains "Personal" %}
    {% assign post = site.posts[1] %}
  {% endif %}
  {% if post.categories contains "Personal" %}
    {% assign post = site.posts[2] %}
  {% endif %}
  {% assign content = post.content %}
  
  <p><time datetime="{{ post.date }}">{{ post.date | date: "%d %B, %Y"}}</time></p>
  <h2><a class="post__latest__link" href="{{ post.url }}">{{ post.title }}</a></h2>
  
  {{ content }}
  
</section>
