<h3><a href="{{ site.baseurl }}about">More about J. (About)</a>:</h3>
<ul>
  <li>I think the web should be for everyone. <a href="{{ site.baseurl }}manifesto">(A manifesto)</a></li>
  <li>If you don&rsquo;t like LinkedIn&hellip; <a href="{{ site.baseurl }}resume">(Résumé)</a></li>
  <li>Read some of my thoughts on design-related topics. <a href="{{ site.baseurl }}blog">(Blog)</a></li>
  {% comment %}<li>Looking for an old Highchair designhaus portfolio? Go back in time. <a href="//classic.highchairdesign.com/">(Highchair Portfolio)</a></li>{% endcomment %}
  <li>I find decay beautiful and necessary. <a href="//artinruins.com" target="_blank" title="Navigate to ArtInRuins.com in a new window">(ArtInRuins.com)</a></li>
</ul>

<h3>If you&rsquo;d like to keep some distance, you can <strike>stalk</strike> follow me:</h3>
<ul>
  <li><a href="//twitter.com/artinruins" target="_blank" title="Navigate to my Twitter profile in a new window">Twitter</a></li>
  <li><a href="//instagram.com/artinruins" target="_blank" title="Navigate to my Instagram profile in a new window">Instagram</a></li>
  <li><a href="//linkedin.com/in/jhogue" target="_blank" title="Navigate to my LinkedIn profile in a new window">LinkedIn</a></li>
  <li><a href="//github.com/jhogue" target="_blank" title="Navigate to my Github profile in a new window">GitHub</a></li>
  <li><a href="//codepen.io/jhogue" target="_blank" title="Navigate to my Codepen profile in a new window">Codepen</a></li>
  <li><a href="//stackoverflow.com/users/479663/j-hogue" target="_blank" title="Navigate to my StackOverflow profile in a new window">StackOverflow</a></li>
</ul>