  instagram_username: artinruins
  linkedin_username: jhogue
  github_username:  jhogue
  codepen_username: jhogue
  stackoverflow_username: 479663/j-hogue
  <h3>Social:</h3>
  <ul>
    <li><a href="//twitter.com/artinruins" target="_blank" title="Navigate to my Twitter profile in a new window">Twitter</a></li>
    <li><a href="//instagram.com/artinruins" target="_blank" title="Navigate to my Instagram profile in a new window">Instagram</a></li>
    <li><a href="//linkedin.com/in/jhogue" target="_blank" title="Navigate to my LinkedIn profile in a new window">LinkedIn</a></li>
    <li><a href="//github.com/jhogue" target="_blank" title="Navigate to my Github profile in a new window">GitHub</a></li>
    <li><a href="//codepen.io/jhogue" target="_blank" title="Navigate to my Codepen profile in a new window">Codepen</a></li>
    <li><a href="//stackoverflow.com/users/479663/j-hogue" target="_blank" title="Navigate to my StackOverflow profile in a new window">StackOverflow</a></li>
  </ul>
