//<section class="archive">
//  <ul class="archive__list">
//    <li>
//      <h4 class="archive__title">
//        <a class="archive__link" href="/2014/07/charles-moore-on-architecture.html">Lessons on design from Charles Moore</a> 
//        <small class="archive__date"><time datetime="2014-07-24 03:10:00 -0400">24 July, 2014</time></small>
//      </h4>
//    </li>

.archive {

  &__list {}

  &__title {
    margin: 0;
  }

  &__date {
    font-weight: 700;
    padding-left: .5em;
  }

  &__statement {
    border-top: 2px solid darken($bg__mark, 8%);
    border-bottom: 2px solid darken($bg__mark, 8%);
    background-color: lighten($bg__mark, 8%);
    font-size: 87.5%;
    padding: 1em 1.5em;
  }
}
