//<p class="post__date">
//  <small><time datetime="2018-10-09 10:45:00 -0400">09 October, 2018</time></small>
//</p>

//<h1 class="page__title post__title">The Internet is experiencing its awkward teen years</h1>

//<footer class="post__meta">
//  <h3 class="post__categories__title">Categories:</h3>
//  <ul class="post__categories">
//    
//    <li><a href="//categories/#User Preference">User Preference</a>
//    </li>
//    
//  </ul>
//</footer>

.post {

  &__date {}

  &__title {}

  &__meta {
    padding-top: 1rem;

    @media ($bp__medium-up) {
      padding-top: 1.5rem;
    }
    @media ($bp__large-up) {
      padding-top: 2rem;
    }
  }

  &__categories__title,
  &__categories, 
  &__categories li {
    display: inline-block;
    vertical-align: baseline;
  }

  &__categories__title {
    font-weight: bold;
    padding-right: .5rem;
  }

  &__categories {
    @include list-reset;
  }
}
