// Block elements
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h2,
h3,
h4 {
  color: lighten($fg__text, 12%);
  font-family: $font__sans;
  font-weight: bold;
}

h4 a {
  font-family: $font__serif;
  font-weight: normal;
}

p,
ul,
ol,
dl {
  color: $fg__text;
}

blockquote,
q,
.footnotes p {
  font-family: $font__sans;
  font-size: 93.75%;
  font-weight: 200;
  letter-spacing: .025em;
}

.footnotes p {
  margin: .5em 0;
}

blockquote {
  margin: 1.5em 0;
  padding: .75em 1.5em;
  border-top: 1px dashed $borders;
  border-bottom: 1px dashed $borders;
}

dt {
  border-bottom: 1px solid $borders;
  font-weight: 700;
  margin: .5em 0;
  padding-bottom: .25em;
}

dd,
li {
  line-height: ($lineheight-base - .25);
  padding-bottom: .375em;
}

hr {
  border: 0;
  border-bottom: 1px solid $borders;
  height: 0;
  margin: ($lineheight-base * 1em) 0;
  padding: 0;
}

pre {
  background-color: $bg__code;
  border-left: 5px solid darken($bg__code, 12%);
  padding: 1em;
  white-space: pre-wrap;
}


// Inline elements
q {
  quotes: "“" "”" "‘" "’";
}

dfn,
abbr {
  border-bottom: 2px dotted $borders;
}

dfn {
  font-style: normal;
}

code,
kbd,
samp,
var {
  font-family: $font__monospace;
  font-size: 87.5%;
}

code {
  background-color: $bg__code;
  padding: .25em .25em 0;
}

var,
kbd,
samp {
  background-color: lighten($borders, 25%);
  padding: .25em .125em 0;
}

kbd {
  border: 1px solid $borders;
  border-radius: 3px;

  kbd {
    border: 0;
    border-radius: none;
  }

  kbd,
  samp {
    font-size: 100%;
  }
}

mark {
  background-color: $bg__mark;
}


// Elements
.page__title {
  border-bottom: .0625em solid $fg__text;
  padding-bottom: .125em;
  margin-bottom: ($lineheight-base * 1em);
}

.typography {}