// Andy Bell’s modern CSS reset.
// Pieces moved into the appropriate element files

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default spacing
body, h1, h2, h3, h4, p,
figure, blockquote, ul, ol, dl, dd {
  margin: 0;
  padding: 0;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

// Make images easier to work with
img,
iframe,
audio,
video,
picture {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}

svg {
  max-inline-size: 100%;
}

svg:not([fill]) {
  fill: currentColor;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

// Any button with a class probably needs a reset
button[class] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

// Make sure textareas without a rows attribute are not tiny
textarea:not([rows]) {
  min-height: 8em;
  resize: vertical;
}

:disabled {
  cursor: not-allowed;
}

// When an element has an ID, give it space so that it is not at the very top of the viewport
// The rlh unit is "relative line-height"
// Credit to https://cssence.com/2025/scroll-margin-scroll-padding/
[id]:target {
  scroll-margin-block: 2rlh;
}

// Opt in to upcoming browser-based view transitions
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}