---
# Code specifically for development viewing
---

@import
  "abstracts/functions",
  "abstracts/mixins/main",
  "abstracts/variables",
  "abstracts/extends";


.dev {

  &__flag {
    background-color: $fg__link-active;
    color: $fg__white;
    font-family: $font__monospace;
    font-size: 62.5%;
    letter-spacing: .0625em;
    padding: .375em 1em;
    text-transform: uppercase;
    
    position: fixed;
      top: 0;
      left: 0;
  }
}