// Custom theme based on Twilight
// https://github.com/uraimo/pygments-vimstyles/blob/master/

// Override my green colors
.highlight pre { background-color: var(--fc-code-bg); }
.highlight code {
  background-color: transparent;
  color: var(--fc-body-fg);
}

:root {
  --fc-lavendar: #a400f5;
  --fc-lgt-blue: #96E3FF;
  --fc-tangerine: #ffa07a;
  --fc-turquoise: #00e0e0;
  --fc-med-gray: #606060;

  @media (prefers-color-scheme: dark) {
    --fc-lavendar: #ecf;
    --fc-lgt-blue: #96E3FF;
    --fc-tangerine: #ffa07a;
    --fc-turquoise: #00e0e0;
    --fc-med-gray: #a3a3a3;
  }
}

// Text styles or decoration
.highlight .c, /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .c1, /* Comment.Single */
.highlight .cs, /* Comment.Special */
.highlight .kt /* Keyword.Type */
{ font-style: italic; }

// Colors
// .highlight .hll { background-color: #e1e2d9 }
.highlight      { color: #e1e2d9; }
.highlight .err { color: var(--fc-tangerine); } /* Error, Dollar Sign */
//.highlight .g   { color: #fffedc; } /* Generic */
.highlight .k   { color: var(--fc-lgt-blue); } /* Keyword */
//.highlight .l   { color: #fffedc; } /* Literal */
.highlight .n   { color: var(--fc-lavendar); } /* Name */
.highlight .o   { color: var(--fc-body-fg); } /* Operator */
//.highlight .x   { color: #fffedc; } /* Other */
.highlight .p   { color: var(--fc-body-fg); } /* Punctuation */
.highlight .c   { color: var(--fc-med-gray); } /* Comment */
.highlight .cm  { color: var(--fc-med-gray); } /* Comment.Multiline */
.highlight .cp  { color: var(--fc-med-gray); } /* Comment.Preproc */
.highlight .c1  { color: var(--fc-med-gray); } /* Comment.Single */
.highlight .cs  { color: var(--fc-med-gray); } /* Comment.Special */
//.highlight .gd  { color: #fffedc; } /* Generic.Deleted */
//.highlight .ge  { color: #fffedc; text-decoration: underline; } /* Generic.Emph */
//.highlight .gr  { color: #fffedc; background-color: #602020 } /* Generic.Error */
.highlight .gh  { color: #d08356; text-decoration: underline; } /* Generic.Heading */
//.highlight .gi  { color: #fffedc; } /* Generic.Inserted */
.highlight .go  { color: #605958; background-color: #303030 } /* Generic.Output */
//.highlight .gp  { color: #fffedc; } /* Generic.Prompt */
//.highlight .gs  { color: #fffedc; } /* Generic.Strong */
.highlight .gu  { color: #d08356; text-decoration: underline; } /* Generic.Subheading */
//.highlight .gt  { color: #fffedc; } /* Generic.Traceback */
.highlight .kc  { color: #ceb67f; } /* Keyword.Constant */
.highlight .kd  { color: #ceb67f; } /* Keyword.Declaration */
.highlight .kn  { color: #ceb67f; } /* Keyword.Namespace */
.highlight .kp  { color: #ceb67f; } /* Keyword.Pseudo */
.highlight .kr  { color: #ceb67f; } /* Keyword.Reserved */
.highlight .kt  { color: #e3d796; } /* Keyword.Type */
//.highlight .ld  { color: #fffedc; } /* Literal.Date */
//.highlight .m   { color: #fffedc; } /* Literal.Number */
.highlight .s   { color: var(--fc-code-fg); } /* Literal.String */
.highlight .na  { color: var(--fc-code-fg); } /* Name.Attribute */
//.highlight .nb  { color: #fffedc; } /* Name.Builtin */
.highlight .nc  { color: var(--fc-lgt-blue); } /* Name.Class */
//.highlight .no  { color: #d08356; } /* Name.Constant */
//.highlight .nd  { /* color: #fffedc; */ } /* Name.Decorator */
//.highlight .ni  { color: #c2c98f; } /* Name.Entity */
//.highlight .ne  { color: #fffedc; } /* Name.Exception */
.highlight .nf  { color: var(--fc-lgt-blue); } /* Name.Function */
//.highlight .nl  { color: #fffedc; } /* Name.Label */
//.highlight .nn  { color: #fffedc; } /* Name.Namespace */
//.highlight .nx  { color: #fffedc; } /* Name.Other */
.highlight .py  { color: var(--fc-lavendar); } /* Name.Property */
.highlight .nt  { color: var(--fc-lavendar); } /* Name.Tag */
  .highlight .err + .n,
  .highlight .err + .nt { color: var(--fc-tangerine); } /* When a dollar sign is followed by an name.tag */
.highlight .nv  { color: var(--fc-lavendar); } /* Name.Variable */
.highlight .ow  { color: var(--fc-lavendar); } /* Operator.Word */
//.highlight .w   { color: #fffedc; } /* Text.Whitespace */
//.highlight .mf  { color: #fffedc; } /* Literal.Number.Float */
//.highlight .mh  { color: #fffedc; } /* Literal.Number.Hex */
//.highlight .mi  { color: #fffedc; } /* Literal.Number.Integer */
//.highlight .mo  { color: #fffedc; } /* Literal.Number.Oct */
.highlight .sb  { color: #a2a96f; } /* Literal.String.Backtick */
.highlight .sc  { color: #a2a96f; } /* Literal.String.Char */
.highlight .sd  { color: #a2a96f; } /* Literal.String.Doc */
.highlight .s2  { color: #a2a96f; } /* Literal.String.Double */
.highlight .se  { color: #a2a96f; } /* Literal.String.Escape */
.highlight .sh  { color: #a2a96f; } /* Literal.String.Heredoc */
.highlight .si  { color: #a2a96f; } /* Literal.String.Interpol */
.highlight .sx  { color: #a2a96f; } /* Literal.String.Other */
.highlight .sr  { color: #a2a96f; } /* Literal.String.Regex */
.highlight .s1  { color: #a2a96f; } /* Literal.String.Single */
.highlight .ss  { color: #a2a96f; } /* Literal.String.Symbol */
//.highlight .bp  { color: #fffedc; } /* Name.Builtin.Pseudo */
.highlight .vc  { color: #8a9597; } /* Name.Variable.Class */
.highlight .vg  { color: #8a9597; } /* Name.Variable.Global */
.highlight .vi  { color: #8a9597; } /* Name.Variable.Instance */
//.highlight .il  { color: #fffedc; } /* Literal.Number.Integer.Long */