html {
  // Sets the color of the overscroll area in some browsers
  background-color: var(--fc-accent);

  // Prevent font size inflation
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
  // Resets
  font-size: 100%;

  // Newer browsers want this on the html element
  scroll-behavior: smooth;
  scroll-padding-top: rem(48);
}

body {
  // Slightly older want it on the body element
  scroll-behavior: smooth;
  scroll-padding-top: rem(48);

  background-color: var(--fc-body-bg);
  color: var(--fc-body-fg);
  font-family: var(--ff-body);
  font-size: var(--fts-base);
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  line-height: var(--lh-base);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Need this for our positioned ::after element on header and footer
  position: relative;
  z-index: 5;

  // Zoom the page when the screen is very large
  // 1920px
  @media (min-width: 120rem) {
    zoom: 1.125;
  }
  // 2496px
  @media (min-width: 156rem) {
    zoom: 1.25;
  }
}

// When a visitor selects text to copy
::selection {
  background-color: var(--fc-body-fg);
  color: var(--fc-body-bg);
}

