.l {

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s-xl);
    padding: var(--space-s) var(--space-s-xl);

    svg {
      transform: rotate(-5deg) scale(1.25);
      transform-origin: center right;
    }

    &__wrap {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      gap: var(--space-s-xl);

      @include breakpoint-up(small) {
        flex-flow: row nowrap;
        align-items: center;
      }
    }

    &__title {
      @include breakpoint-down(base) {
        text-align: right;
      }
    }

    &__btn {}

    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: var(--space-s-xl) minmax(auto, 10em) minmax(auto, 30em)  var(--space-s-xl) minmax(0, auto);
      grid-template-areas: ". logo title . btn";
      align-items: end;
      justify-content: initial;
      padding: 0;
      gap: 0;

      svg {
        grid-area: logo;
      }
      &__wrap {
        display: contents;
      }
      &__title {
        grid-area: title;
        text-align: end;
      }
      &__btn {
        grid-area: btn;
      }
    }
  }

  &__main {}

  &__article {}

  &__footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s-xl);
    padding: var(--space-l-xl) var(--space-s-xl) var(--space-xl-2xl);

    &__logo {}

    nav {
      flex: 1 1 0px;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      gap: var(--space-xs-s);
      
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0 calc(-1 * var(--space-xs));
        width: calc(100% + (var(--space-xs) * 2));
  
        a {
          color: var(--fc-body-fg);
          font-weight: var(--fw-medium);
          padding: var(--space-2xs) var(--space-xs);
  
          &:hover,
          &:focus {
            color: var(--fc-link-fg);
          }
  
          &[aria-current] {
            opacity: 0.55;
            text-decoration: underline;
          }
        }
      } // end ul
    } // end nav

    .copyright {
      flex: 1 0 100%;
      line-height: var(--lh-tight);
    }

    @include breakpoint-up(small) {
      nav {
        flex-flow: row nowrap;
        align-items: center;

        ul {
          margin: 0;
          width: auto;
        }
      }
    }

    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: var(--space-s-xl) minmax(auto, 10em) minmax(auto, 30em)  var(--space-s-xl) minmax(0, auto);
      grid-template-areas:
        ". logo      nav       . btn"
        ". copyright copyright . .  ";
      align-items: start;
      justify-content: initial;
      gap: 0;
      padding-inline: 0;

      &__logo {
        grid-area: logo;
      }

      nav {
        display: contents;

        ul {
          justify-content: flex-end;
          grid-area: nav;
        }
      }

      &__btn {
        grid-area: btn;
      }

      .copyright {
        grid-area: copyright;
        padding-block-start: var(--space-l-xl);
      }
    }
  } // end &__footer
}

// Shared declarations
// Noisy background effect
// https://grainy-gradients.vercel.app/
.l__header::after,
.l__footer::after {
  background: 
    var(--fc-gradient-noise),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.72' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E") repeat;
  content: '';
  filter: contrast(500%) grayscale(50%) opacity(50%);
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
  height: 80vw;
  z-index: -1;

  @media (prefers-color-scheme: dark) {
    filter: none;
  }
  @include breakpoint-up(small) {
    height: 50vw;
  }
  @include breakpoint-up(medium) {
    height: 40vw;
  }
  @include breakpoint-up(large) {
    height: 30vw;
  }
  @include breakpoint-up(x-large) {
    height: 20em;
  }
}

.l__footer::after {
  transform: rotate(180deg);
  top: auto;
  bottom: 0;
}