.btn {
  -webkit-appearance: none;
  border: 1px solid var(--fc-button-border);
  border-radius: 2rem;
  color: var(--fc-button-fg);
  display: inline-block;
  font-weight: var(--fw-medium);
  line-height: var(--lh-tight);
  margin: 0;
  padding: 0.5em 1.25em 0.375em;
  text-decoration: none;

  @supports (text-box: trim-both cap alphabetic) {
    padding: .5em 1.25em;
    text-box: trim-both cap alphabetic;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 2px var(--fc-button-border) inset;
    text-decoration: none;
  }

  &:focus {
    border-radius: 3rem;
  }

  &--primary {
    //border-color: var(--fc-button-border);
    //color: var(--fc-button-fg);
  }
}