// Kramdown creates these when there are Footnotes
.footnote {
  display: inline-block;
  padding: 0 0.25em;
}

@keyframes target-flash {
  from {
    background-color: var(--fc-body-fg);
  }
  to {
    background-color: transparent;
    pointer-events: none;
  }
}

p:has(sup:target) {
  position: relative;

  &::before {
    animation: target-flash 1s ease 1 forwards 500ms;
    content: '';
    position: absolute;
    inset: 0;
  }
}

.footnotes {
  border-top: 1px solid var(--fc-border);
  margin-block-start: var(--space-xl);
  padding-block-start: var(--space-xl);
}